
<html>
	<head>
		<title>LOGIN</title>
		<link href="../../assets/css/style.css" rel="stylesheet" type="text/css"/>
	</head>
<body>		
<nav id="agentMainNav" class ="agentMainNav">
<ul id="coolMenu" class ="coolMenu">
	<li><a href="#">Dashboard</a></li>
    <li><a href="#">Quotation</a></li>
    <li><a href="#">Invoice</a>
        <ul>
            <li><a href="#">View invoices</a></li>
            <li><a href="#">Generate invoices</a></li>
        </ul>

    </li>
    <li>
        <a href="#">Receipt</a>
        <ul>
            <li><a href="#">View receipts</a></li>
            <li><a href="#">Generate receipt</a></li>
        </ul>
    </li>
    <li><a href="#">Client</a>
    	        <ul>
            <li><a href="#">View clients</a></li>
            <li><a href="#">Add receipt</a></li>
        </ul>

    </li>
</ul>
</nav>
<br/>
<br/>
<div id="widget" class ="widget">
	<div class="widget-title">
    	<h4>Sample widget</h4>
    </div>
    
    <table class="widget-table" id="widget-table">
    	<thead>
        	<th>Status</th>
            <th>Due date</th>
            <th>Invoice</th>
            <th>Client</th>
        </thead>
        <td><a href="#">view all</a></td>
    </table>

</div>
<table></table>
</body>
</html>